/* Drawer */
.drawer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  user-select: none;
  display: none;
}
.drawer-container.open {
  display: block;
}

.drawer-container-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawer {
  width: 90%;
  max-width: 600px;
  background-color: var(--bg-secondary);
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto; 
}